<launch>

	<machine name="Panda00" address="LabRob-Panda-00" user="panda" default="false" env-loader="/home/panda/rosenv.sh" timeout="180" /> -->
	<machine name="Panda01" address="LabRob-Panda-01" user="panda" default="false" env-loader="/home/panda/rosenv.sh" timeout="180" />
	<machine name="Panda02" address="LabRob-Panda-02" user="panda" default="false" env-loader="/home/panda/rosenv.sh" timeout="180" />
	<machine name="Panda03" address="LabRob-Panda-03" user="panda" default="false" env-loader="/home/panda/rosenv.sh" timeout="180" /> -->


	<!-- send Saetta urdf to param server -->
	<param name="saetta_vision_prefix" value="robot_"/>
	<param name="saetta_vision_robnum" value="5" />
	<param name="saetta_vision_cmd_topic" value="cmd_vel" />



	<!-- == ROBOT 01 == -->
		<group ns="robot_1">
		<param name="tf_prefix" value="robot_1"/>
		<param name="robot_description" command="$(find xacro)/xacro.py $(find saetta_base)/Saetta.urdf" />
		
		<!-- Robot State Publisher -->
		<node pkg="robot_state_publisher" type="state_publisher" name="state_publisher"/>		

		<!-- Saetta Nodes -->


		</group>
	<!-- == END ROBOT 01 == -->


	<!-- == ROBOT 02 == -->
		<group ns="robot_2">
		<param name="tf_prefix" value="robot_2"/>
		<param name="robot_description" command="$(find xacro)/xacro.py $(find saetta_base)/Saetta.urdf" />
		
		<!-- Robot State Publisher -->
		<node pkg="robot_state_publisher" type="state_publisher" name="state_publisher"/>		

		</group>
	<!-- == END ROBOT 02 == -->


	<!-- == ROBOT 03 == -->
		<group ns="robot_3">
		<param name="tf_prefix" value="robot_3"/>
		<param name="robot_description" command="$(find xacro)/xacro.py $(find saetta_base)/Saetta.urdf" />
		
		<!-- Robot State Publisher -->
		<node pkg="robot_state_publisher" type="state_publisher" name="state_publisher"/>		

		<!-- Saetta Nodes -->

		</group>
	<!-- == END ROBOT 03 == -->



</launch>
